{% extends 'base.html' %}

{% block content %}
<h1>Blog Posts</h1>
{% if user.is_staff %}
    <a href="{% url 'add_blog_post' %}" class="btn btn-primary">Add New Post</a>
{% endif %}
<ul>
{% for post in posts %}
    <li>
        <h2><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content|truncatewords:30 }}</p>
        <p>Published on: {{ post.date_published|date:"F j, Y" }}</p>
    </li>
{% empty %}
    <li>No posts yet.</li>
{% endfor %}
</ul>
{% endblock %}