{% extends 'base.html' %}

{% block content %}
<h1>Add New Game</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>
    <div>
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
    </div>
    <div>
        {{ form.default_difficulty.errors }}
        <label for="{{ form.default_difficulty.id_for_label }}">Default Difficulty:</label>
        {{ form.default_difficulty }}
    </div>
    <div>
        {{ form.custom_difficulty_allowed.errors }}
        <label for="{{ form.custom_difficulty_allowed.id_for_label }}">Custom Difficulty Allowed:</label>
        {{ form.custom_difficulty_allowed }}
    </div>
    <div>
        {{ form.new_game_plus.errors }}
        <label for="{{ form.new_game_plus.id_for_label }}">New Game Plus:</label>
        {{ form.new_game_plus }}
    </div>

    <h3>Difficulty Settings</h3>
    {% for difficulty, display in form.instance.DIFFICULTY_CHOICES %}
        <fieldset>
            <legend>{{ display }}</legend>
            {% for setting in settings %}
                <div>
                    {% with field_name=difficulty|add:"_"|add:setting %}
                        {{ form.errors.difficulty_settings }}
                        <label for="id_{{ field_name }}">{{ setting|title }}:</label>
                        <input type="number" name="{{ field_name }}" id="id_{{ field_name }}" 
                               value="{{ form.initial.difficulty_settings|default:{}|get_item:difficulty|default:{}|get_item:setting|default:100 }}"
                               min="0" max="200">
                    {% endwith %}
                </div>
            {% endfor %}
        </fieldset>
    {% endfor %}

    <button type="submit">Add Game</button>
</form>
{% endblock %}