{% extends 'base.html' %}

{% block content %}
<h1>{{ game.name }}</h1>
<p>{{ game.description }}</p>
<p>Default Difficulty: {{ game.get_default_difficulty_display }}</p>

<h2>Difficulty Settings</h2>
<table>
    <tr>
        <th>Difficulty</th>
        <th>Player Health</th>
        <th>Enemy Health</th>
    </tr>
    {% for setting in difficulty_settings %}
    <tr>
        <td>{{ setting.get_difficulty_display }}</td>
        <td>{{ setting.player_health }}</td>
        <td>{{ setting.enemy_health }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'update_game' game.id %}">Edit Game</a>
<a href="{% url 'delete_game' game.id %}">Delete Game</a>
{% endblock %}