{% extends 'base.html' %}

{% block content %}
<h1>{% if game %}Update{% else %}Add{% endif %} Game</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Difficulty Settings</h2>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="difficulty-setting">
            <h3>{{ form.difficulty.label_tag }}</h3>
            {{ form.as_p }}
        </div>
    {% endfor %}
    <button type="submit">{% if game %}Update{% else %}Add{% endif %} Game</button>
</form>
{% endblock %}